<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li>
                {{- if (eq .Name "pt") -}}
                    <a href="{{ .URL | absLangURL }}">
                        <span class="flag flag-icon flag-icon-br flag-icon-squared">k</span>
                    </a>
                {{- else if (eq .Name "en") -}}
                <a href="{{ .URL | absLangURL }}">
                    <span class="flag flag-icon flag-icon-gb flag-icon-squared">k</span>
                </a>
                {{ else }}
                    <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                {{ end }}
            </li>
        {{- end }}
    </ul>
</nav>
